* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/** Inicio CSS para el navbar **/
.navbar {
    background-color: #0D0D0D;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-brand {
    font-weight: 500;
    color: #F23D5E;
    font-size: 24px;
    transition: 0.3s color #93052b;
}

.btn-close{
    --bs-btn-close-color: whitesmoke!important;
}

.login-button {
    background-color: #F23D5E;
    color: whitesmoke;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #93052b;
}

.navbar-togger {
    border: none;
    font-size: 1.25rem;
}

.navbar-togger:focus .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #F23D6D;
    font-weight: 500;
    position: relative;
    text-decoration: none;
}

.nav-link:hover {
    color: #93052b;
    text-decoration: underline;
    text-decoration-color:#93052b ;
}
.active{
    color: #eee!important;
}
.offcanvas-body{
    background-color: #0D0D0D;
}

.offcanvas-header{
    background-color: #0D0D0D;
}

.offcanvas-title {
    color: #93052b;
}



/** Final CSS Navbar**/

body{
    background: #F2DFD8;
}
.content{
    margin-top: 200px;
}

/** Seccion de reglas que se aplican a varios elementos**/
/** Este color Rosa es para contraste en las fuentes y titulos**/
.c-rosa {
    color: #F23D6D;
}

.bg-negro{
    color: #0D0D0D;
}
.c-white {
    color: whitesmoke;
}

.bd-beige {
    background-color: #F2DFD8;
}

/** Este gris es para fuentes **/
.c-gris {
    color: #392E40;
}

.c-main-titles {
    color: #F23D6D;
}

.preguntas-puntos {
    background-color: #F23D6D;
    text-align: justify;
    line-height: 2em;
}

.btn-negro {
    background-color: #0D0D0D;
    border: #0D0D0D 1px solid;
    color: antiquewhite;
    border-radius: 16px;

}

.btn-negro:hover {
    background-color: whitesmoke;
    border-color: #F23D5E;
    color: #F23D5E;
    border-radius: 16px;

}

.card {
    border-radius: 16px;
}

/** CSS de Especificos seccion Carrusel|seccion Inicio| **/


.carouselExampleCaptions .carousel-item img {
    width: 100%;
    min-height: 600px;
    object-fit: cover;

}


/** CSS de Especificos seccion Mejor Calificados |seccion Inicio| **/

.card img {
    height: 250px;
}

/** CSS de Especificos seccion footer |seccion Inicio| **/


.btn-crimsom {
    background-color: #93052b;
    border: #93052b 2px solid;
    color: antiquewhite;
}

/** CSS LOGIN |seccion LOGIN| **/
.btn-login-social {
    font-size: 0.8rem;
    font-weight: 400;
}

.btn-login-social i {
    vertical-align: text-top;
}
.btn-outline-custom:hover{
    color: #31374a;
    border-color: #eee;
    background-color: #eee;
}

.bg-holder{
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

/** Seccion |Horror Herald| **/
.card-horror-herald{
margin: 10px;
background-color: #f2f2f2;
border-radius: 16px;
overflow: hidden;
height: 500px;
margin-top: 30px;
padding-inline: 50px;
box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.card-horror-herald img {
    height: 250px;
}

.img-fluid {
    height: 300px;
}
.badge{
border-radius: 50px;
margin-top: 10px;
margin-bottom: 10px;
}

/** Seccion |Horror Herald| **/

.divider-content-center{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding-left: 0.5rem;
    background-color:#F2DFD8;
    font-size: 0.8rem;
    font-weight: 500%;
    color: #392E40;
}

.divisor {
    margin: 1rem 0;
}

.olvide-contraseña {
    text-decoration: none;
}

.olvide-contraseña:hover{
    text-decoration: underline;
}


.form-series {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5%;
}


.fielData{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.flex-col {
flex-direction: column;
}

.title{
    text-align: center;
    font-weight: bold;
    width: 100%
}

.w-full{
    width: 100%;
}


.sub-title{
    text-align: center;
    font-weight: 700;
}

.article{
    width: 25%!important;

}

.misFavoritos {
    display: flex;
    flex-wrap: wrap;
}
.mis-series{
    width: 25%;
    border-right: solid 2px #0D0D0D; 
}


.serieActual{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    padding-left: 10%;
}
.serieActual h2{
    width: 100%;
}

.serieActual img{
    width: 35%;
    object-fit: cover;
}
.serieActual div{
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.fieldset-1{
    width: 60%;
    padding: 0 15px;
}
.fieldset-2{
    width: 40%;
}

.container{
    padding-top: 200px;
}



/*estilos calendario*/

#calendar {
    border-collapse: collapse;
    width: 100%;
}

#calendar th,
#calendar td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

#calendar th {
    background-color: #f2f2f2;
}

#calendar tbody tr:nth-child(odd) td {
    background-color: #e6e6e6;
}

#calendar tbody tr:hover td {
    background-color: #d9d9d9;
}


.separacion{
    margin: 10% 0;
}





@media screen and (max-width: 768px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #93052b;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;

    }

    .article{
        width: 90%;
    }
}

@media screen and (min-width: 769px), (max-width:1024) {
    .article{
        width: 50%;
    }
}