@charset "UTF-8";
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/** Seccion Elementos compartidos**/
/** Incluye fondo,colores fuentes, botones, cards y carrusel| **/
body {
  background: #F2DFD8;
}

.content {
  margin-top: 200px;
}

/** Este color Rosa es para contraste en las fuentes y titulos**/
.c-rosa {
  color: #F23D6D;
}

.bg-negro {
  color: #0D0D0D;
}

.c-white {
  color: whitesmoke;
}

.bd-beige {
  background-color: #F2DFD8;
}

/** Este gris es para fuentes **/
.c-gris {
  color: #392E40;
}

.c-main-titles {
  color: #F23D6D;
}

.btn-negro {
  background-color: #0D0D0D;
  border: #0D0D0D 1px solid;
  color: antiquewhite;
  border-radius: 16px;
}

.btn-negro:hover {
  background-color: whitesmoke;
  border-color: #F23D5E;
  color: #F23D5E;
  border-radius: 16px;
}

.card p,
.card-horror-herald p {
  border-radius: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.container {
  padding-top: 6vh;
}

.separacion {
  margin: 10% 0;
}

/** CSS de carrusel | **/
.carouselExampleCaptions .carousel-item img {
  width: 100%;
  min-height: 600px;
  object-fit: cover;
}

/** CSS de cards | **/
.card img {
  height: 250px;
}

/** Fin CSS secciones compartidas| **/
/** Inicio CSS para el navbar **/
.navbar {
  background-color: #0D0D0D;
  height: 80px;
  margin: 20px;
  border-radius: 16px;
  padding: 0.5rem;
}

.navbar-brand {
  font-weight: 500;
  color: #F23D5E;
  font-size: 24px;
  transition: 0.3s color #93052b;
}

.btn-close {
  --bs-btn-close-color:$c-whitesmoke !important;
}

.login-button {
  background-color: #F23D5E;
  color: whitesmoke;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.login-button:hover {
  background-color: #93052b;
}

.navbar-togger {
  border: none;
  font-size: 1.25rem;
}

.navbar-togger:focus .btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #F23D6D;
  font-weight: 500;
  position: relative;
  text-decoration: none;
}

.nav-link:hover {
  color: #93052b;
  text-decoration: underline;
  text-decoration-color: #93052b;
}

.active {
  color: whitesmoke !important;
}

.offcanvas-body {
  background-color: #0D0D0D;
}

.offcanvas-header {
  background-color: #0D0D0D;
}

.offcanvas-title {
  color: #93052b;
}

span.navbar-toggler-icon,
.btn-close {
  filter: invert(1);
}

@media screen and (max-width: 768px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #93052b;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}
/** Final CSS Navbar**/
.btn-crimsom {
  background-color: #93052b;
  border: #93052b 2px solid;
  color: antiquewhite;
}

/** Seccion Inicio |Horror Herald| **/
.card-horror-herald {
  margin: 10px;
  background-color: #f2f2f2;
  border-radius: 16px;
  overflow: hidden;
  margin-top: 30px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.img-fluid {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.badge {
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  object-position: center;
}

/** Final Seccion Index| **/
/** CSS LOGIN |seccion LOGIN| **/
.btn-login-social {
  font-size: 0.8rem;
  font-weight: 400;
}

.btn-login-social i {
  vertical-align: text-top;
}

.btn-outline-custom:hover {
  color: #31374a;
  border-color: #eee;
  background-color: #eee;
}

.bg-holder {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.divider-content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 0.5rem;
  background-color: #F2DFD8;
  font-size: 0.8rem;
  font-weight: 500%;
  color: #392E40;
}

.divisor {
  margin: 1rem 0;
}

.olvide-contraseña {
  text-decoration: none;
}

.olvide-contraseña:hover {
  text-decoration: underline;
}

.form-series {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 5%;
}

.fielData {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.title {
  text-align: center;
  font-weight: bold;
  width: 100%;
}

/** Final Seccion  Login | **/
/** Seccion Mi Cripta| **/
.misFavoritos {
  display: flex;
  flex-wrap: wrap;
}

.mis-series {
  width: 25%;
  border-right: solid 2px #0D0D0D;
}

.serieActual {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  padding-left: 10%;
}

.serieActual h2 {
  width: 100%;
}

.serieActual img {
  width: 35%;
  object-fit: cover;
}

.serieActual div {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.sub-title {
  text-align: center;
  font-weight: 700;
}

.article {
  width: 25% !important;
}

.fieldset-1 {
  width: 60%;
  padding: 0 15px;
}

.fieldset-2 {
  width: 40%;
}

@media screen and (max-width: 480px) {
  .echo {
    flex-direction: column;
  }
  .echo .card {
    width: 100%;
  }
  .form-series {
    flex-direction: column;
    align-content: baseline;
    align-items: center;
    padding: 0;
  }
  .fieldset-1 {
    width: 90%;
  }
  .fielData {
    width: 100%;
  }
  .misFavoritos {
    flex-direction: column;
  }
  .mis-series {
    width: 100%;
    border-right: none;
    border-bottom: solid 2px black;
  }
  .serieActual {
    width: 100%;
    padding-left: 0;
    justify-content: center;
  }
  .serieActual img {
    width: 90%;
    object-fit: contain;
  }
  .serieActual div {
    padding: 0;
    width: 90%;
  }
}
/*estilos calendario*/
#calendar {
  border-collapse: collapse;
  width: 100%;
}

#calendar th,
#calendar td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

#calendar th {
  background-color: #f2f2f2;
}

#calendar tbody tr:nth-child(odd) td {
  background-color: #e6e6e6;
}

#calendar tbody tr:hover td {
  background-color: #d9d9d9;
}

.article {
  width: 90%;
}

/**Final Seccion Mi Cripta| **/
@media screen and (min-width: 769px), (max-width: 1024) {
  .article {
    width: 50%;
  }
}
/** Seccion Peliculas y Series| **/
.nuevos-lanzamientos {
  padding-top: 12vh;
}

* .echo {
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}

.echo .card {
  width: 20%;
}

/** Final Seccion Peliculas y Series| **/
/** Seccion Misiones| **/
.profile {
  margin-top: 12vh;
  padding: 15px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: #0D0D0D;
  align-items: center;
}

.miProfile {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 20%;
}

.miProfile div {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.miProfile img {
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.miProfile dl {
  color: whitesmoke;
}

.myRibbons {
  display: flex;
  justify-content: end;
  gap: 5%;
}

.myRibbons div {
  width: 20%;
  text-align: center;
}

.myRibbons div:hover {
  border: solid 2px #eee;
}

.myRibbons img {
  width: 50%;
}

.myRibbons h5 {
  color: whitesmoke;
  text-align: center;
}

.maestros-del-terror .col {
  overflow-x: scroll;
}

.preguntas-puntos {
  background-color: #F23D6D;
  text-align: justify;
  line-height: 2em;
}

.pqr {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.pqr div {
  width: 70%;
}

.pqr summary {
  font-size: 3rem;
}

.pqr details {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
  }
  .miProfile {
    width: 100%;
  }
  .miProfile div {
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
  }
  .myRibbons {
    justify-content: center;
  }
  .myRibbons h5 {
    font-size: 16px;
  }
  .myRibbons div:hover {
    border: none;
  }
}
/** Final Seccion Misiones| **/

/*# sourceMappingURL=styles.css.map */
