/** Seccion Peliculas y Series| **/

.nuevos-lanzamientos {
    padding-top: 12vh;
}

* .echo {
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

.echo .card {
    width: 20%;
}

/** Final Seccion Peliculas y Series| **/